# ROS 2 generated folders
build/
install/
log/

# Python cache
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/

# Temporary files
*.swp
*.swo
*~

# OS
.DS_Store

# Gazebo / ROS generated data
*.db
*.log
*.bag
*.db3
rosbag2_*
